examples/dess-fixed-prices-settings.json
[
    {
        "id": "e5a213924a66e70a",
        "type": "inject",
        "z": "287d3e7906396df3",
        "name": "Inject fixed prices",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"gridSell\":1,\"buyPriceSchedule\":[{\"days\":[0,1,2,3,4,5,6],\"schedule\":[{\"from\":\"00:00\",\"to\":\"04:00\",\"price\":0.25},{\"from\":\"04:00\",\"to\":\"00:00\",\"price\":0.35}]}],\"sellPriceSchedule\":[{\"days\":[0,1,2,3,4,5,6],\"schedule\":[{\"from\":\"00:00\",\"to\":\"00:00\",\"price\":0.05}]}],\"batteryCapacity\":38.4,\"dischargePower\":6,\"chargePower\":4,\"batteryCosts\":0.03,\"batteryFlowRestriction\":\"unrestricted\",\"maxPowerFromGrid\":2.5,\"maxPowerToGrid\":2.5,\"updatedOn\":\"2023-09-22 13:10:58\",\"buyPriceFormula\":null,\"sellPriceFormula\":null,\"idBiddingZone\":26,\"buyPriceType\":0,\"sellPriceType\":0,\"sellEnergyProviderName\":\"SomeProvider\",\"buyEnergyProviderName\":\"SomeProvider\",\"isOn\":true,\"isDessSocDifferent\":false,\"batteryPrice\":0.03,\"totalEstimatedBatteryCycles\":null,\"biddingZoneCode\":\"10YNL----------L\",\"hasDessCopingStrategy\":true}",
        "payloadType": "json",
        "x": 140,
        "y": 620,
        "wires": [
            [
                "4808999295f3bd1c"
            ]
        ]
    },
    {
        "id": "3ba220725649bfda",
        "type": "debug",
        "z": "287d3e7906396df3",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 660,
        "wires": []
    },
    {
        "id": "4d9d716ff3a1ed05",
        "type": "vrm-api",
        "z": "287d3e7906396df3",
        "vrm": "a286d0c78ad35cbf",
        "name": "Retrieve settings",
        "api_type": "installations",
        "idUser": "",
        "users": "",
        "idSite": "your_site_id",
        "installations": "dynamic-ess-settings",
        "attribute": "",
        "stats_interval": "",
        "show_instance": false,
        "stats_start": "",
        "stats_end": "",
        "use_utc": false,
        "widgets": "",
        "instance": "",
        "vrm_id": "",
        "country": "",
        "b_max": "",
        "tb_max": "",
        "fb_max": "",
        "tg_max": "",
        "fg_max": "",
        "b_cycle_cost": "",
        "buy_price_formula": "",
        "sell_price_formula": "",
        "green_mode_on": "",
        "feed_in_possible": "",
        "feed_in_control_on": "",
        "b_goal_hour": "",
        "b_goal_SOC": "",
        "store_in_global_context": false,
        "verbose": false,
        "x": 370,
        "y": 700,
        "wires": [
            [
                "3ba220725649bfda"
            ]
        ]
    },
    {
        "id": "c7d9340213fcd14d",
        "type": "inject",
        "z": "287d3e7906396df3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 700,
        "wires": [
            [
                "4d9d716ff3a1ed05"
            ]
        ]
    },
    {
        "id": "a286d0c78ad35cbf",
        "type": "config-vrm-api",
        "name": "VRM"
    }
]
