examples/solar irradiance forecast.json
[
    {
        "id": "45f46876fd1c9713",
        "type": "inject",
        "z": "e0ce27b4a32b7b91",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "2e1210763ad545b0"
            ]
        ]
    },
    {
        "id": "730e7a6d88a245d7",
        "type": "debug",
        "z": "e0ce27b4a32b7b91",
        "name": "Solar irradiance forecast",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 120,
        "wires": []
    },
    {
        "id": "2e1210763ad545b0",
        "type": "vrm-api",
        "z": "e0ce27b4a32b7b91",
        "vrm": "87c32be49619e588",
        "name": "",
        "idSite": "",
        "installations": "stats",
        "attribute": "vrm_solar_irradiance_fc",
        "stats_interval": "hours",
        "stats_start": "0",
        "stats_end": "86400",
        "verbose": true,
        "x": 360,
        "y": 120,
        "wires": [
            [
                "730e7a6d88a245d7"
            ]
        ]
    },
    {
        "id": "87c32be49619e588",
        "type": "config-vrm-api",
        "name": "VRM",
        "token": ""
    }
]